@import './variables.scss';
@import './agreement.scss';
@import './submit-button.scss';

.call {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 11;

  &__background {
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.96);

    &::after {
      content: '';
      clear: both;
      display: table;
    }
  }

  &__container {
    position: relative;
    padding: 24px 16px;
    height: 100vh;
    max-width: 440px;
    background-color: #fff;
    float: right;
    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2);
    background-color: transparent;
    cursor: pointer;
  }

  &__close-button {
    border-radius: 50%;
    border: none;
    margin-bottom: 40px;
    background-color: transparent;
    cursor: pointer;
  }

  &__heading {
    position: relative;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;

    &::before {
      content: '';
      width: 4px;
      height: 40px;
      border-radius: 0 4px 4px 0;
      background-color: $mark-color;
      position: absolute;
      top: -5px;
      left: -16px;
    }
  }

  &__input {
    font-size: 16px;
    padding: 12px 16px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #eaeaea;
    margin-bottom: 16px;

    &::placeholder {
      color: $text-color-more-light;
    }
  }

  &__agreement {
    margin-bottom: 18px;
  }

  &__submit-button {
    float: right;
  }
}

@media (min-width: 530px) {
  .call {
    &__close-button {
      position: absolute;
      top: 32px;
      left: -32px;
      transform: translateX(-100%);
    }

    &__container {
      padding: 24px 32px;
    }

    &__heading::before {
      left: -32px;
    }
  }
}
